a {
    position: absolute;
    top: 10px;
    right: 10px;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}

button {
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 2px;
}

.generate {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.colleague {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 512px;
    height: 512px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.alreadyPicked {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
}